/* footer.css */
footer {
    background-color: #1b1f23;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Place le footer en bas lorsque possible */
}


footer .footer-logo img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: #007bff;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .social-icons a {
    margin: 0 0.5rem;
    color: #007bff;
    font-size: 1.5rem;
}

footer .social-icons a:hover {
    color: #0056b3;
}
